/*** CSS3 VQS | Chapter 6 | text-properties.css ***/


h1 {
	letter-spacing: -.05em;
	word-spacing: -.1em; }

h2 {
	letter-spacing: 2px;
	word-spacing: 3px; }

h2 strong {
	letter-spacing: 0; }

p {
	word-spacing: .075em; }

header + p:first-letter {
	letter-spacing: -.05em; }

.byline {
	word-spacing: -.3em; }

.byline .author {
	word-spacing: 0; }