/*------------------------------------------------------------------

# Default Stylesheet

Filename:    default.css
Site:        speakinginstyles.com
Version:     1.1
Last change: 09/11/10 [added gallery view, jct]
Author:		 Jason Cranford Teague (jct)
Desciption:  Default styles to be applied to all pages in the site

## TOC

* HTML Selectors (Defaults)
	** Headers
	** Body
	** Lists
	** Forms
	** Tables
* Navigation
	** Menu
	** Breadcrumb
	** Footer
* Content
	** Aside
		*** Right
		*** Left
	**	Article
		*** Blockquotes
		*** Paragraphs
		*** Lists
		*** Tables
	**	Comments
* Footer

-------------------------------------------------------------------*/