/*------------------------------------------------------------------

## Color Glossary

dark gray: 	rgb(51, 51, 85)
red:		rgb(255, 15, 34)
white:		rgb(235,235,355)
blue: 		rgb(0, 0, 102)

## Font Glossary

header: 	diavlo, "gill sans", helvetica, arial, sans-serif
body:		baskerville, georgia, times, "times new roman", serif
aside:		"gill sans", helvetica, arial, sans-serif

-------------------------------------------------------------------*/