/*** CSS3 VQS | Chapter 8 | list-table-properties.css ***/

ul {
	list-style: circle url(../_images/bullet-01.png) inside; }

nav.global ul  {
	list-style: none; }

table {
	table-layout: auto;
	width: 75%;
	margin: 40px auto; }



