/*** CSS3 VQS | Chapter 11 | visualformatting-properties.css ***/

aside {
	position: absolute; }

strong {
	position: relative; }

footer {
	position: fixed; }

footer ul {
	position: relative; }

div.gallery {
	position: relative; }

div.gallery figure {
	position: absolute; }