/*** CSS3 VQS | Chapter 7 | color-background-properties.css ***/


body {
	color: rgb(51,51,51);
	background-color: rgb(85,85,85);
	background-image: url(../_images/dark-victorian.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: 0 0; }


header.page {
	display: block;
	background-color: rgb(102,0,0);
	background-image: url(../_images/bg-book-spine-title.png), url(../_images/bg-book-spine.jpg);
	background-repeat: no-repeat, repeat-x;
	background-position: center top, 0 0; }

h1 {
	color: rgb(255,225,215);
	color: rgba(255,225,225,.65); }

article {
	display: block;
	background-color: rgb(242, 237, 217);
	background-image: url(../_images/embelish-01.png), url(../_images/paper-01.jpg);
	background-repeat: no-repeat, repeat;
	background-position: right top, 0 0; }

article h2 strong {
	color: rgb(135,127,107); }

article header + p:first-letter {
	color: rgb(153,0,0);
	background: transparent;
	background-image: url(../_images/alice02b.png);
	background-repeat: no-repeat;
	background-position: center center;
	
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
	
	-o-background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-size: padding-box;
	
	-o-background-origin: padding-box;
	-moz-background-origin: padding;
	-webkit-background-origin: padding-box;
	background-origin: padding-box; }

footer {
	display: block;
	background: rgb(153,153,153);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000');
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,.5)));
	background: -moz-linear-gradient(top,  rgba(0,0,0,0),  rgba(0,0,0,.5)); }

a:link {
	color: rgb(204,0,0) }

a:visited {
	color: rgb(153,0,0) }

a:hover {
	color: rgb(255,0,0) }

a:active {
	color: rgb(153,153,153) }

.byline {
	color: rgba(255,255,255,.5); }

.byline .author { 
	color: rgba(255,255,255,.75)  }