/*** CSS3 VQS | Chapter 9 | ui-generatedcontent-properties.css ***/

.toc { margin: 0 auto; width: 90%; text-align: center; font-size: .5em;}

a {
	cursor: help; }

h1 {
	cursor: url(../_images/cursor-02.png) 20 20, crosshair; }

